<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/local.css">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>


        <p>{{ site.description | default: site.github.project_tagline }}</p>

	       <!-- {_% include post_lists %_} -->

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if page.category == "advanced_media_inst" %}
          <img src="{{site.logo_ami | relative_url}}" alt="Logo" />
        {% elsif page.category == "j200" %}
          <img src="{{site.logo_j200 | relative_url}}" alt="Logo" />
         {% else %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        {% if site.github.is_project_page %}
        <!--<p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>-->
        {% endif %}
        <p><small><!-- credits --></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
